{% extends 'base.html' %}
{% load static %}

  {% block content %}
    <h1>{{ resume.get_full_name }}</h1>
    <p><strong>EXPERIENCE</strong></p>
          {% for experience in resume.get_experience %}
            <ul><b>{{experience.title}}</b> - {{experience.location}}<br /></ul>
            <ul>Description: {{experience.description}}<br /></ul>
            <ul>{{experience.start_date}} - {{experience.end_date}}<br /></ul>
          {% endfor %}

    <p><strong>EDUCATION</strong></p>
          {% for education in resume.get_education %}
            <ul><b>{{education.institution_name}}</b>, {{education.location}}<br /></ul>
            <ul>Degree: {{education.degree}}<br /></ul>
            <ul>Major: {{education.major}}<br /></ul>
            <ul>GPA: {{education.gpa}}<br /></ul>
          {% endfor %}

  {% endblock %}
