{% load static %}
<!DOCTYPE html>
<html>
  <head>
    {% block title %} {% endblock %}
    <link type="text/css" rel='stylesheet' href="{% static 'css/style.css' %}" />
  </head>
  <body>
      <div class="homepage-banner">
        <nav>
        <a href="{% url 'home' %}">Homepage</a> |
        <a href="{% url 'resume' %}">Resume</a> |
        <a href="{% url 'portfolio' %}">Portfolio</a> |
        <a href="{% url 'contact' %}">Contact</a>
        </nav>
      </div>
      {% block content %}
      {% endblock %}
  </body>
</html>
